@media screen and (max-width: 1246px) {
	.help-item {
		width: 340px;
		margin-bottom: 29px;
	}
}
@media screen and (max-width: 1230px) {

	.business-catalog_wrapper .business-catalog_item:nth-child(4n){
		margin-right: 25px;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(3n){
		margin-right: 0px;
	}
	.business-catalog_wrapper .business-catalog_item:last-child{
		margin-right: 0px;
	}
	.top-footer-block__left-text br{
		display: none;
	}
	.top-footer-block .top-footer-block__form {
	    display: block;
	    float: none;
	}
	.footer .top-footer-block{
		text-align: center;
		padding: 29px 0 30px 0;
	}
	.top-footer-block__left-text{
		margin-bottom: 18px;
	}
}
@media screen and (max-width: 1200px) {
	.promo-right-top-block {
		display: inline-block;
		text-align: left;
		float: left;
	}
	.promo-right-bottom-block {
		display: inline-block;
		text-align: left;
		float: right;
	}
	.reviews_slaider_item_block{
		display: inline-block;
		text-align: left;
		padding: 31px 38px 41px 39px;
    	border: 1px solid rgb(228, 229, 233);
	}
	.reviews_slaider .reviews_slaider_item{
		text-align: center;
	}
	.reviews_slaider .reviews_slaider_item{
		border: none;
	}
	.reviews_slaider_item_block {
		margin: 0;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		text-align: right;
	}
	.main-basket_product-item_total-price{
		margin-right: 5%;
	}


}
@media screen and (max-width: 1150px) {
/* 	.popular-products__item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.popular-products__item_price_button{
		float: none;
		display: block;
	}
	.popular-products__item_price{
		text-align: center;
	}
	.popular-products__item_price_button input{
		float: none;
	}
	.popular-products__item_decription p{
		margin-top: 0;
	}
	.popular-products__item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.popular-products__item_price_number .popular-products__item_price_old{
		display: inline-block;
		margin-left: 12px;
	} */
	.popular-products__item_price {
	    padding: 0 15px 0 15px;
	}
	.recommend-products__item_price {
    	padding: 0 15px 0 15px;
	}
/* 	.recommend-products__item_decription p{
		margin-top: 0;
	}
	.recommend-products__item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.recommend-products__item_price_button{
		float: none;
		display: block;
	}
	.recommend-products__item_price{
		text-align: center;
	}
	.recommend-products__item_price_button input{
		float: none;
	}
	.recommend-products__item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.recommend-products__item_price_number .recommend-products__item_price_old{
		display: inline-block;
		margin-left: 12px;
	} */
	/* .catalog-products_item_description p{
		margin-top: 0;
	}
	.catalog-products_item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.catalog-products_item_price_button{
		float: none;
		display: block;
	}
	.catalog-products_item_price{
		text-align: center;
	}
	.catalog-products_item_price_button input{
		float: none;
	}
	.catalog-products_item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.catalog-products_item_price_number .catalog-products__item_price_old{
		display: inline-block;
		margin-left: 12px;
	} */
	input.personal-area_save-btn{
		margin-bottom: 53px;
	}
	.my-wishlist__item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.my-wishlist__item_price_button{
		float: none;
		display: block;
	}
	.my-wishlist__item_price{
		text-align: center;
	}
	.my-wishlist__item_price_button input{
		float: none;
	}
	.my-wishlist__item_decription p{
		margin-top: 0;
	}
	.my-wishlist__item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.my-wishlist__item_price_number .my-wishlist__item_price_old{
		display: inline-block;
		margin-left: 12px;
	}
	.personal-area_right-block{
		float: none;
	}
	.main-basket_product-item .main-basket_product-item_cost .main-basket_product-item_cost-old{
		display: block;
		margin-left: 0;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		line-height: normal;
	}

}
@media screen and (max-width: 1122px) {
	.catalog_find-options_reset{
		margin-top: 0;
	}
	.catalog-products_item_price {
    	padding: 0 15px 0 15px;
	}
}

@media screen and (max-width: 1060px) {
	.catalog_find-options_category{
		margin-top: 48px;
		float: none;
		margin-right: 3%;
	}
	.catalog_find-options_material{
		margin-left: 0;
		float: right;
	}
	.card-description_advantages-text{
		display: block;
	}

}
@media screen and (max-width: 1024px) {
	.catalog-collections_item{
		width: 33.333333%;
		margin-right: 0;
	}
	.catalog-products_item{
		width: 48%;
		margin-right: 0;
		height: 430px;
	}
	.catalog-products_item_description p{
		margin-top: 63px;
	}
	.catalog-products_item_price_number {
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	.catalog-products_item_price_button {
	    display: inline-block;
	    float: right;
	}
	.catalog-products_item_price {
	    margin-top: 14px;
	    overflow: hidden;
	    position: relative;
	    text-align: left;
	    margin: 23px auto 0 auto;
	    padding: 0 5px 0 5px;
	    max-width: 220px;
	}
	.catalog-products_item:nth-child(2n){
		margin-left: 4%;
	}
	.catalog-products_item_description{
		padding: 0;
		width: 68%;
	}
		.popular-products .popular_slaider_next{
    	position: absolute;
	    top: 44.5%;
	    right: -12px;
	    cursor: pointer;
	}
	.popular-products .popular_slaider_prev{
		position: absolute;
	    top: 44.5%;
	    left: -12px;
	    cursor: pointer;
	}
	.popular-products_wrapper{
		width: 95%;
		margin: 0 auto;
	}
	.popular-products .popular-products__item{
		    margin: 34px 5px 0 5px;
	}
	.recommend-products .recommend_slaider_next{
    	position: absolute;
	    top: 44.5%;
	    right: -12px;
	    cursor: pointer;
	}
	.recommend-products .recommend_slaider_prev{
		position: absolute;
	    top: 44.5%;
	    left: -12px;
	    cursor: pointer;
	}
	.recommend-products_wrapper{
		width: 95%;
		margin: 0 auto;
	}
	.recommend-products .recommend-products__item{
		    margin: 34px 5px 0 5px;
	}
/* 	.popular-products__item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.popular-products__item_price_button{
		float: none;
		display: block;
	}
	.popular-products__item_price{
		text-align: center;
	}
	.popular-products__item_price_button input{
		float: none;
	}
	.popular-products__item_decription p{
		margin-top: 0;
	}
	.popular-products__item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.popular-products__item_price_number .popular-products__item_price_old{
		display: inline-block;
		margin-left: 12px;
	}
	.recommend-products__item_decription p{
		margin-top: 0;
	}
	.recommend-products__item_price_number{
		position: static;
		-webkit-transform: none;
    	-ms-transform:none;
    	transform:  none;
	}
	.recommend-products__item_price_button{
		float: none;
		display: block;
	}
	.recommend-products__item_price{
		text-align: center;
	}
	.recommend-products__item_price_button input{
		float: none;
	}
	.recommend-products__item_price{
		position: absolute;
		padding: 0;
		left: 0;
   	 	right: 0;
    	bottom: 10px;
	}
	.recommend-products__item_price_number .recommend-products__item_price_old{
		display: inline-block;
		margin-left: 12px;
	} */
}
@media screen and (max-width: 976px) {
	.right-help-content {
		margin-left: 0;
		width: calc(100% - 177px);
	}
}
@media screen and (max-width: 933px) {
	.left-navigation {
		display: none;
	}
	.right-help-content {
		padding-top: 0;
		width: 100%;
	}

}
@media screen and (max-width: 860px) {
	.catalog_find-options_material{
		float: none;
		width: 66.245%;
	}
	.catalog_find-options_sort{
		margin-left: 27%;
	}
	.catalog_find-options_reset{
		margin-top: 77px;
	}
	.catalog_find-options_colors-items{
		font-size: 0;
	}
	.catalog_find-options_colors-block{
		width: 50%;
	}
	.catalog_find-options_colors{
		width: 45.745%;
	}
}
@media screen and (max-width: 840px) {
/* 	.catalog_find-options_material{
		float: none;
		width: 66.245%;
	}
	.catalog_find-options_sort{
		margin-left: 27%;
	}
	.catalog_find-options_reset{
		margin-top: 77px;
	}
	.catalog_find-options_colors-items{
		font-size: 0;
	}
	.catalog_find-options_colors-block{
		width: 50%;
	}
	.catalog_find-options_colors{
		width: 45.745%;
	} */
	.bottom-footer-block ul li.li-tmp:nth-child(5), .bottom-footer-block ul li.li-tmp:nth-child(1), .bottom-footer-block__creater-text{
		display: none;
	}
	.footer-madeby-block{
		display: block;
	}
	.bottom-footer-fifth-item__made {
	    margin-top: 0px;
	    display: inline-block;
	    vertical-align: top;
	    float: right;
	}
	.footer-madeby-block p:first-child {
	    display: inline-block;
	    float: left;
	    margin-top: 0px;
	}
	.bottom-footer-block ul li.li-tmp:nth-child(6) {
    	display: inline-block;
	}
	.logo-footer-img {
    	display: none;
	}
	.bottom-footer-block__logo-block_social {
    	text-align: justify;
    	text-align-last: justify;
	}
	.bottom-footer-block__logo-block_social a {
    	display: inline-block;
	}
}
@media screen and (max-width: 1024px) {
	.formalization_left-block_payment{
		display: block;
		float: none;
		margin-left: 149px;
		margin-bottom: 40px;
		margin-top: 17px;
	}
	.business-catalog_wrapper .business-catalog_item{
		margin-right: 0;
		
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(4n){
		margin-right: 0;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(2n){
		margin-left: 25px;
	}
	.business-catalog_item{
		width: 340px;
		height: 430px;
	}
	.business-catalog_item-hidden-block{
		width: 340px;
	}
	.business-catalog_item-text p{
		margin-top: 30px;
	}
	.business-catalog_item-img {
    	margin-top: 47px;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		margin-left: 3%;
	}
	.main-basket_product_middle-block{
		margin-left: 3%;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4 {
    	margin-right: 0;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4{
		width: 48%;
	}
	.items-for-all .items-for-all_block-1 {
		background: url(../img/forall1-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-2 {
		background: url(../img/forall2-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-3 {
		background: url(../img/forall3-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-4 {
		background: url(../img/forall4-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-1 {
    	margin-right: 4%;
	}
	.items-for-all{
		width: 70%;
		margin: 0 auto;
	}
	.news-main_item{
		width: 48%;
		margin-right: 4%;
	}
	.news-main_item:nth-child(2n) {
    	margin-right: 0;
	}
    	
}
@media screen and (max-width: 930px) {

	.header-bottom-block .header-bottom-block__item_menu ul li:last-child{
		display: block;
	}
	.header-bottom-block__item_menu{
		bottom: -354px;
	}
	
	.popular-products__item .popular-products__item_fast-button{
		width: 92.465%;
	}
	.recommend-products__item .recommend-products__item_fast-button{
		width: 92.465%;
	}
	.advantages ul li:first-child {
    	margin-left: 25px;
	}
	.advantages ul li:nth-child(4) {
		margin-right: 25px;
	}
	.services .services_item-block p{
		display: block;
		margin-top: 13px;
		margin-left: 17px;
	}
	.services .services_item-block{
		text-align: left; 
     	text-align-last: left; 
	}
	.services ul {
    	max-width: 631px;
	}
	.header-bottom-block ul li:last-child{
		display: none;
	}
	.services .services_item-block img {
	    display: block;
	    margin: 0 auto;
	}
	.services ul li:nth-child(2) .services_item-block p{
	    margin-left: 87px;
	}
	.header-middle-block .header-middle-block__items .header-middle-block__items-item:nth-child(2){
		margin: 0 7px 0 7px;
	}
	.header .header-middle-block .header-middle-block__phone-block span{
		display: block;
		line-height: 0.9;
	}
	.header-middle-block__phone-block_element {
    	margin-bottom: 12px;
	}
	.footer .top-footer-block .subscribe-text-input{
		width: 440px;
	}
	.top-header-block__search-btn .top-header-block_search-input{
		width: 130px;
	}
	.main-basket_product-item-block{
		width: 100%;
	}
	.main-basket_product-item{
		max-width: 100%;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		margin-left: 2.475%;
		vertical-align: text-top;
	}
	.main-basket_product-item_total-price{
		
    	margin-right: 6.575%;
	}
	.main-basket_product-item .main-basket_product-item_cost .main-basket_product-item_cost-old{
		display: block;
		margin-left: 0;

	}
	.main-basket .advantages ul li{
		width: 33%;
	}
	.business-catalog_wrapper .business-catalog_item{
		margin-right: 0;
		
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(4n){
		margin-right: 0;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(2n){
		margin-left: 25px;
	}
	.business-catalog_item{
		width: 340px;
		height: 430px;
	}
	.business-catalog_item-hidden-block{
		/* width: 340px; */
		width: calc(100% + 2px);
	}
	.main-basket_advantages{
		display: none;
	}
	.main-basket .advantages{
		margin-top: 6px;
		font-size: 0;
		display: block;
	}
	.main-basket .advantages ul li:first-child {
    	margin-left: 0px;
	}
	.main-basket .advantages ul li:nth-child(3), .main-basket .advantages ul li:nth-child(4){
		margin-top: 74px;
	}
	.main-basket .advantages .advantages_item-block {
    	display: block;
	}
	.header-bottom-block ul li:nth-child(10){
		display: none;
	}

}

@media screen and (max-width: 768px) {
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4{
		margin-right: 0;
	}
	.reviews_slaider_prev{
		left: -9%;
	}
	.reviews_slaider_next {
		right: -9%;
	}
	.reviews{
		width: 84.507042253%;
	}
	.reviews_slaider .reviews_slaider_item{
		margin: 0;
	}
	.reviews_slaider_item_block{
		width: 99%;
		padding: 31px 38px 37px 39px;
	}
	.reviews_slaider_item_text{
		max-width: 99%;
	}
	.reviews_slaider_item_text{
		padding-bottom: 0;
	}
	.items-for-all{
		width: 100%;
		margin: 0 auto;
	}
	.right-promo-block {
	    display: block; 
	    vertical-align: unset;
	    float: none; 
	    width: 100%; 
	}
	.promo-left-block-slaider{
		max-width: 100%;
	}
	.send-info{
		margin-top: 4px;
	}
	.main-page-wrapper {
		max-width: 710px;
	}
	#left-arrow, #right-arrow{
		display: block;
	}
	.header-middle-block .header-middle-block__items .header-middle-block__items-item:nth-child(2){
		margin: 0 34px 0 34px;
	}
	.footer .top-footer-block {
    	text-align: left;
    	padding: 29px 0 30px 0;
	}
	.header-bottom-block ul li:nth-child(7), .header-bottom-block ul li:nth-child(8), .header-bottom-block ul li:nth-child(9){
		display: none;
	}
	.top-header-block__search-btn .top-header-block_search-input{
		width: 110px;
	}
	.promo-right-top-block {
		width: 48%;
		background: url(../img/promo-top768.png);
		background-repeat: no-repeat;
		background-position: right;
	}
	.promo-right-bottom-block {
		width: 48%;
		background: url(../img/promo-bot768.png);
		background-repeat: no-repeat;
		background-position: right;
	}
	.header-middle-block__items-item p{
		display: none;
	}
	.advantages ul li{
		width: 48%;
	}
	.advantages ul li:first-child {
    	margin-left: 0px;
	}
	.advantages ul li:nth-child(4) {
		margin-right: 0px;
	}
	.advantages .advantages_item-block {
		display: block;
	}
	.advantages ul li:nth-child(3), .advantages ul li:nth-child(4){
		margin-top: 74px;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4{
		width: 48%;
	}
	.items-for-all .items-for-all_block-1 {
		background: url(../img/forall1-768.jpg);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-2 {
		background: url(../img/forall2-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-3 {
		background: url(../img/forall3-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-4 {
		background: url(../img/forall4-768.png);
    	background-repeat: no-repeat;
	}
	.items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-1 {
    	margin-right: 4%;
	}
	.popular-products .popular-products__item:nth-child(odd) {
    	margin-right: 0px;
	}
	.main-page-wrapper .popular-products .popular-products__item{
		margin-right: 15px;
		margin-left: 15px;
	}
	.footer .top-footer-block .subscribe-text-input {
    	width: 61.9%;
    	margin-right: 2.25%;
	}
	.subscribe-button {
	    width: 35.2%;
	}
	.our-instagram_gallery a:nth-child(4), .our-instagram_gallery a:nth-child(5){
		display: none;
	}
	.our-instagram_gallery a:nth-child(3){
		margin-right: 0;
	}
	.popular-products_wrapper .slick-slide{
		width: 278px;
	}
	.popular-products{
		position: relative;
	}
	.popular-products_wrapper{
		position: relative;
		max-width: 586px;
    	margin: 0 auto;
	}
	.popular-products .popular_slaider_next{
    	position: absolute;
	    top: 44.5%;
	    right: 0px;
	    cursor: pointer;
	}
	.popular-products .popular_slaider_prev{
		position: absolute;
	    top: 44.5%;
	    left: 0px;
	    cursor: pointer;
	}
	.popular-products h3 {
		margin-top: 67px;
	}
	.recommend-products .recommend-products__item:nth-child(odd) {
    	margin-right: 0px;
	}
	.recommend-products_wrapper .slick-slide{
		width: 278px;
	}
	.recommend-products{
		position: relative;
	}
	.recommend-products_wrapper{
		position: relative;
		max-width: 586px;
    	margin: 0 auto;
	}
	.main-page-wrapper .recommend-products .recommend-products__item{
		margin-right: 15px;
		margin-left: 15px;
	}
	.recommend-products .reviews_slaider_next{
    	top: 44.5%;
	}
	.recommend-products .reviews_slaider_prev{
		top: 44.5%;
	}
	.recommend-products h3 {
		margin-top: 57px;
	}
	.recommend-products .recommend_slaider_next{
    	position: absolute;
	    top: 54%;
	    right: 0px;
	    cursor: pointer;
	}
	.recommend-products .recommend_slaider_prev{
		position: absolute;
	    top: 54%;
	    left: 0px;
	    cursor: pointer;
	}


	.my-wishlist .my-wishlist__item:nth-child(odd) {
    	margin-right: 0px;
	}
	.my-wishlist_wrapper .slick-slide{
		width: 278px;
	}
	.my-wishlist{
		position: relative;
	}
	.my-wishlist_wrapper{
		position: relative;
		max-width: 586px;
    	margin: 0 auto;
	}
	.main-page-wrapper .my-wishlist .my-wishlist__item{
		margin-right: 15px;
		margin-left: 15px;
	}
	.my-wishlist .my-wishlist_next{
    	top: 44.5%;
	}
	.my-wishlist .my-wishlist_prev{
		top: 44.5%;
	}
	.my-wishlist h3 {
		margin-top: 57px;
	}
	.my-wishlist .my-wishlist_slaider_next{
    	position: absolute;
	    top: 42%;
	    right: 0px;
	    cursor: pointer;
	}
	.my-wishlist .my-wishlist_slaider_prev{
		position: absolute;
	    top: 42%;
	    left: 0px;
	    cursor: pointer;
	}
.my-wishlist_slaider_next, .my-wishlist_slaider_prev{
	display: block;
}


	.original-gifts .original-gifts_textblock {
	    float: none; 
	    max-width: 620px;
	    margin-right: 0px;
	    margin: 0 auto;
	    padding: 56px 15px 0px 15px;
	}
	.original-gifts .original-gifts_textblock h4 {
    	margin-top: 0px;
	}
	.logo-footer-img{
		display: none;
	}
	.bottom-footer-block__logo-block_social a{
		display: inline-block;
	}
	.bottom-footer-block ul li.li-tmp:nth-child(5), .bottom-footer-block ul li.li-tmp:nth-child(1), .bottom-footer-block__creater-text{
		display: none;
	}
	p.bottom-footer-block__logo-text{
		margin-top: 21px;
	}
	.bottom-footer-fifth-item .bottom-footer-fifth-item__adress {
		margin-top: 21px;
	}
	.bottom-footer-block ul li.li-tmp:nth-child(6){
		display: inline-block;
	}
	.footer-madeby-block{
		width: 100%;
	}
	.footer-madeby-block p:first-child{
		display: inline-block;
		float: right;
		margin-top: 0px;
	}
	.footer-madeby-block p:first-child{
		display: inline-block;
		float: left;
		margin-top: 0px;
	}
	.bottom-footer-fifth-item__made{
		margin-top: 0px;
		display: inline-block;
		vertical-align: top;
		float: right;
	}
	.footer-madeby-block{
		margin-top: 20px;
	}
	.adr_br-2{
		display: none;
	}
	.adr_br-4{
		display: none;
	}
	.bottom-footer-block__logo-block_social{
	    text-align: justify;
    	text-align-last: justify;
    }
    .footer-madeby-block{
    	display: block;
    }
    .hidden-mobile-menu_lists .header-middle-block__items-item p{
		display: block;
    }
    .give-gifts{
    	margin-top: 60px;
    }
    .original-gifts{
    	margin-bottom: 30px;
    	margin-top: 37px;
    }
    .footer{
    	margin-bottom: 37px;
    }
    .header .header-middle-block .header-middle-block__phone-block{
    	top: 53.5%;
    }
    .header .header-middle-block .header-middle-block__logo img{
    	width: 156px;
    	height: 60px;
    }
    .header .header-middle-block .header-middle-block__items{
    	top: 46.5%;
    }
    .header-bottom-block{
    	margin-top: 21px;
    }
    .advantages{
    	margin-top: 30px;
    }
    .services {
    	margin-top: 71px;
	}
	.services .services_item-block{
		padding: 39px 0 41px 0;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4{
		margin-top: 30px;
	}
	.our-instagram h3{
		margin-top: 58px;
	}
	.reviews h3{
		margin-top: 57px;
	}
	.formalization_left-block_payment{
		max-width: 100%;
		width: 100%;
		margin-left: 0;
	}
	.formalization_left-block_payment_wrapper{
		max-width: unset;
    	width: auto;
	}
	.formalization_left-block_payment_method-block{
		display: inline-block;
		float: right;
		width: 280px;
	}
	.formalization_left-block_payment_method{
		border: none;
		padding-top: 17px;
	}
	.formalization_left-block_payment-table{
		display: inline-block;
	}
	.formalization_left-block_payment_wrapper{
    	padding: 28px 40px 45px 40px
	}
	.formalization-list-block{
		display: none;
	}
	.formalization-bottom-block{
		display: none;
	}
	.formalization-bread-crumbs{
		border: none;
		padding-top: 16px;
	}
	.formalized h1{
		margin-bottom: 57px;
	}
	.formalized p:last-child{
		margin-bottom: 86px;
	}
	.business-bread-crumbs{
		padding-top: 32px;
	}
	.benefit h2{
		margin-top: 49px;
		margin-bottom: 61px;
	}
	.benefit_button{
		margin-top: 63px;
	}
	.business-catalog h2 {
    	margin-top: 62px;
	}
	.business-catalog h2{
		margin-bottom: 0;
	}
	.cooperation-conditions h2{
		margin-top: 57px;
	}
	.business-catalog_item{
		width: 48%;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(2n){
		margin-left: 4%;
	}
	.business-catalog_wrapper{
		font-size: 0;
	}
	.benefit .modal{
		padding-top: 125px;
	}
	.business_modal_item-block_form-inputs input[type="text"], .business_modal_item-block_form-inputs-item select{
		width: 280px;
	}
	.popular-products__item_price_number{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.popular-products__item_price_button input{
		float: right;
	}
	.popular-products__item_price{
		position: relative;
    	text-align: left;
    	padding: 0 30px 0 30px;
    	margin-top: 14px;
    	bottom: 0;
	}
	.popular-products__item_price_number .popular-products__item_price_old{
		display: block;
		margin-left: 0;

	}
	.popular-products__item_decription p{
		margin-top: 32px;
	}

.my-wishlist__item_price_number{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.my-wishlist__item_price_button input{
		float: right;
	}
	.my-wishlist__item_price{
		position: relative;
    	text-align: left;
    	padding: 0 30px 0 30px;
    	margin-top: 14px;
    	bottom: 0;
	}
	.my-wishlist__item_price_number .my-wishlist__item_price_old{
		display: block;
		margin-left: 0;

	}
	.my-wishlist__item_decription p{
		margin-top: 32px;
	}
	.recommend-products__item_price_number{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.recommend-products__item_price_button input{
		float: right;
	}
	.recommend-products__item_price{
		position: relative;
    	text-align: left;
    	padding: 0 30px 0 30px;
    	margin-top: 14px;
    	bottom: 0;
	}
	.recommend-products__item_price_number .popular-products__item_price_old{
		display: block;
		margin-left: 0;

	}
	.recommend-products__item_decription p{
		margin-top: 32px;
	}
	.our-instagram_gallery a img{
		width: 30.2816%;
	}
	.our-instagram_gallery a{
		margin-right: 4.3661%;
	}
	div.header-bottom-block__item_menu div.header-bottom-block__hidden-drop-list ul li{
		display: block;
	}
	.card-description_colors-block{
		max-width: 77.5%;
	}
	.card-description_colors span:first-child{
		vertical-align: top;
    	margin-top: 17px;
	}
	.card-description_right-info-block{
		width: 35.22126%;
	}
	.card-description_colors .card-description_colors-self{
		margin-right: 0;
	}
	.card-description{
		margin-top: 55px;
	}
	.card-description_select {
    	margin-top: 30px;
	}
	.card-description_select span{
		margin-bottom: 9px;
	}
	.card-description_item-price {
    	margin-top: 37px;
	}
	span.card-description_availability{
		margin-top: 13px;
	}
	.card-description_wishlist{
		margin-top: 26px;
	}
	.card-description_bottom-block{
		width: 100%;
		display: none;
	}
	.hidden-card-description_bottom-block{
		display: block;
	}
	.card-description_social{
		width: 100%;
	}
	.card-description_full h4{
		margin-top: 50px;
	}
	.card-description_advantages-text{
		display: block;
	}
	.card-description_advantages-text{
		max-width: 155px;
		display: block;
		margin-top: 22px;
	}
	.card-description_advantages_item{
		display: inline-block;
	}
	.card-description_advantages-text P:last-child{
		margin-top: 9px;
	}
	.card-description_advantages_item{
		/* margin-left: 98px; */
		    margin-left: 0;
	}
	.card-description_advantages_item:first-child{
		/* margin-left: 38px; */
		    margin-left: 0;
	}
	.card-description_advantages_item:last-child{
		/* margin-left: 50px; */
		    margin-left: 0;
	}
	.other-products h2{
		margin-top: 58px;
	}
	.card-recommend-products .recommend_slaider_next, .card-recommend-products .recommend_slaider_prev{
		top: 46%;
	}
	.with-that-buy h2{
		margin-top: 70px;
	}
	.related-products h2{
		margin-top: 79px;
	}
	.reviews-list_top-block h3 {
	    margin-top: 71px;
	}
	.clock-mitya{
		margin-top: 40px;
		background-position: 18%;
	}
	.card-description_select select, .card-description_input-block input, .card-description_wishlist, .card-description_input-block{
		width: 100%;
	}
	span.card-description_item-old_current{
		margin-right: 0;
	}
	.card-description_advantages_item-img{
		text-align: left;
	}
	.card-description_advantages{
		text-align-last: justify;
    	-moz-text-align-last: justify;
    	-ms-text-align-last: justify;
    	text-align: justify;
    	padding: 0 30px;
	}
	.card-description_advantages-text{
		text-align-last: left;
    	-moz-text-align-last: left;
    	-ms-text-align-last: left;
    	text-align: left;
	}
	.news-main_item{
		width: 47.887323%;
		margin-right: 4.225352%;
	}
	.news-main_item:nth-child(2n){
		margin-right: 0;
	}
	.news-popular-products .popular_slaider_next{
 		top: 47%;
	}
	.news-popular-products .popular_slaider_prev{
 		top: 47%;
	}
	.news-recommend-products .recommend_slaider_next{
 		top: 55%;
	}
	.news-recommend-products .recommend_slaider_prev{
 		top: 55%;
	}
	.news-main_item-img img{
		margin-bottom: 19px;
	}
	.news-main_item-description p{
		margin-top: 12px;
	}
	.news-main_item{
		height: 415px;
	}
	.new-item_card-description_social{
		width: 50%;
	}
	.news-item-main_left-img-block{
		width: 100%;
		float: none;
    	margin-right: 0px;
	}
	.news-item-main_wrapper{
		margin-top: 32px;
	}
	.news-item-right-text-block{
		padding-top: 19px;
	}
	.news-my-wishlist_watch-social {
    	margin-top: 33px;
    }
    .news-my-wishlist_watch-social {
    	margin-top: 43px;
    }
    .lk-card-description_social{
    	width: 50%;
    }
    .my-wishlist .my-wishlist_next {
	    position: absolute;
	    top: 44.5%;
	    right: 0px;
	    cursor: pointer;
	}
	.my-wishlist .my-wishlist_prev{
	    position: absolute;
	    top: 44.5%;
	    right: 0px;
	    cursor: pointer;
	}
	.modal-content_card_form-block input{
		width: 280px;
	}
	input.modal-content_card_form_checkbox{
		width: 24px;
	}
	.modal-content_card_item_quantity input{
		width: 97px;
	}
	.catalog-collections_item{
		width: 33.333333%;
		margin-right: 0;
	}
	.catalog-products_item{
		width: 48%;
		margin-right: 0;
		height: 430px;
	}
	.catalog-products_item_description p{
		margin-top: 63px;
	}
	.catalog-products_item_price_number {
	    display: inline-block;
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	.catalog-products_item_price_button {
	    display: inline-block;
	    float: right;
	}
	.catalog-products_item_price {
	    margin-top: 14px;
	    overflow: hidden;
	    position: relative;
	    text-align: left;
	    margin: 23px auto 0 auto;
	    padding: 0 12px 0 12px;
	    max-width: 220px;
	}
	.catalog-products_item:nth-child(2n){
		margin-left: 4%;
	}
	.catalog-products_item_description{
		padding: 0;
		width: 68%;
	}
	.catalog_find-options_material-input-box{
		font-size: 0;
	}
	.catalog_find-options_material-input-box_item{
		display: inline-block;
    	width: 48%;
    	vertical-align: top;
    	margin-bottom: 14px;
	}
	.catalog_find-options_material{
		width: 48.245%;
	}
	.catalog_find-options_category{
		float: right;
		margin-right: 13%;
    	width: 37.5%;	
	}
	.catalog_find-options_sort{
		margin-left: 0;
		margin-top: -30px;
	}
	.catalog_find-options_reset{
		display: none;
	}
	.catalog_find-options_colors{
		width: 50.745%;
		float: right;
    	margin-left: 0;
	}
	.catalog_find-options_reset_hidden{
		display: block;
		bottom: 31px;
	}
	.catalog_find-options{
		padding: 25px 44px 82px 25px;
	}
	.catalog_find-options_category_input-box label{
		display: inline-block;
	}
	.catalog_find-options_category_input-box label:nth-child(2){
		margin-right: 32%;
	}
	.help__send-info{
		margin-top: 44px;
	}
/* 	.help-item{
		width: 48%;
	} */
}
@media screen and (max-width: 738px) {
	.help-item {
		/* width: 280px; */
		width: 100%;
		margin-bottom: 20px;
	}
}

/* @media screen and (max-width: 730px) { */
	@media screen and (max-width: 768px) {
/* 	.catalog_find-options_colors{
		margin-left: 0;
		margin-top: 30px;
		display: block;
		    width: 73.745%;
	} */
	.catalog_find-options_sort{
	    margin-top: 48px;
	}
/* 	.catalog_find-options_category{
		margin-right: 10%;
	} */
}
@media screen and (max-width: 690px) {
	.header-list-block ul li a{
		font-size: 15px;
	}
	.popular-products_wrapper, .recommend-products_wrapper, .my-wishlist_wrapper{
	    max-width: 278px;
	}
	.help__send-info{
		margin-top: 74px;
	}
	.main-page-wrapper .popular-products .popular-products__item{
		margin-left: 0;
		margin-right: 0;
	}
	.my-wishlist_watch-social{
		margin-top: 50px;
	}
	.recommend-products .recommend_slaider_prev, .recommend-products .recommend_slaider_next, .popular-products .popular_slaider_next, .popular-products .popular_slaider_prev{
		display: none;
	}
	.popular-products .slick-dots li button:before {
	    color: #cccccc;
	    opacity: 1;
	    font-size: 12px;
	}
	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #cc99ff;
	}
	.popular-products .slick-dots li{
		margin: 0 1px;
	}
	.my-wishlist_wrapper, .my-wishlist_wrapper{
	    max-width: 278px;
	}
	.recommend-products .recommend_slaider_prev, .recommend-products .recommend_slaider_next, .popular-products .popular_slaider_next, .popular-products .popular_slaider_prev, .my-wishlist .my-wishlist_slaider_next, .my-wishlist .my-wishlist_slaider_prev{
		display: none;
	}
	.my-wishlist .slick-dots li button:before {
	    color: #cccccc;
	    opacity: 1;
	    font-size: 12px;
	}
	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #cc99ff;
	}
	.my-wishlist .slick-dots li{
		margin: 0 1px;
	}
	.recommend-products .slick-dots li button:before {
	    color: #cccccc;
	    opacity: 1;
	    font-size: 12px;
	}
	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #cc99ff;
	}
	.recommend-products .slick-dots li{
		margin: 0 1px;
	}
	.reviews_slaider_prev{
		display: none;
	}
	.reviews_slaider_next{
		display: none;
	}
	.reviews .slick-dots li button:before {
	    color: #cccccc;
	    opacity: 1;
	    font-size: 12px;
	}
	.reviews li.slick-active button:before {
	    opacity: 1;
	    color: #cc99ff;
	}
	.reviews .slick-dots li{
		margin: 0 1px;
	}
	.recommend-products .slick-dots, .popular-products .slick-dots, .reviews .slick-dots{
		bottom: -35px;
	}
	.original-gifts{
		margin-top: 81px;
	}
	/* .reviews_slaider .reviews_slaider_item, .reviews_slaider_item_block{
		height: 387px;
		width: 280px;
	}
	.reviews_slaider_item_img img {
		width: 30px;
		height: 22px;
		margin-left: 18px; 
		margin-top: 27px;
	}
	.reviews_slaider_item_block{
		padding: 0;
	}
	.reviews_slaider_item_text{
		max-width: 209px;
   	 	padding-right: 20px;
    	margin-top: 22px;
    	float: right;
	}
	.reviews_slaider {
    	max-width: 281px;
    	margin: 0 auto;
	} */

	.reviews{
		width: 100%;
	}
	.reviews_slaider_item_block{
		padding: 30px 4px 37px 19px;
	}
	.reviews_slaider_item_text{
		padding-left: 44px;
	}
	.reviews_slaider_item_img img{
		width: 30px;
		height: 22px;
	}
	.main-basket_product-item .main-basket_product-item_description{
		max-width: 135px;
	}
	.formalization_left-block_payment_method-block{
		display: block;
		float: none;
	}
	.formalization_left-block_payment_method {
	    border-top: 1px solid  rgb(205, 205, 205);
	    padding-top: 24px;
	}
	.formalization_left-block_payment{
		border: none;
		border-top: 2px solid rgb(205, 205, 205);
	}
	.formalization_left-block_payment_wrapper {
    	padding: 28px 40px 38px 40px;
    	max-width: 280px;
	}
	.formalization_left-block_payment{
		margin-bottom: 0;
	}
	.formalization_send-info{
		margin-top: 0;
	}
	.business_modal_item{
		display: block;
		/* text-align: center; */
		max-width: 280px;
		margin: 52px auto 0 auto;
	}
	.business_modal_item-block .business_modal_item:nth-child(2n){
		float: none;
	}
	.benefit .modal .modal-content .business_modal_item-block .business_modal_item-description, .benefit .modal .modal-content .business_modal_item-block .business_modal_item-price, .business_modal_item-add-design{
    	text-align: left;
	}
	.benefit .modal .modal-content {
	    max-width: 730px;
	    height: auto;
	    padding: 38px 20px 40px 20px;
	}
	.benefit .modal .modal-content .close{
		right: 20px;
		top: 32px;
	}
	.business_modal_item-block_form-inputs .business_modal_item-block_form-inputs-item:nth-child(2n){
		float: none;
	}
	.business_modal_item-block_form-inputs-item, .business_modal_item-block_form-input-comment{
		display: block;
		width: 280px;
		margin: 0 auto;
	}
	.business_modal_item-block_form h3{
		display: none;
	}
	.business_modal_item-block_form-inputs{
		padding-top: 18px;
		border-top: 1px solid rgb(214, 214, 214);
		margin-top: 38px;
	}
	.business_modal_manager h3{
		font-size: 20px;
		width: 160px;
	}
	.business_modal_manager{
		margin-left: 0;
	}
	.business_modal_manager a{
		display: block;
	}
	.benefit .modal{
		padding-top: 0;
	}
	.lk-footer{
		margin-top: 80px;
	}
	.card-description_one-click .modal-content{
		height: auto;
	}
	.modal-content_card_item{
		width: 280px;
		margin: 41px auto 0 auto;
		overflow: hidden;
	}
	.modal-content_card_item_price{
		margin-left: 0;
		float: right;
		margin-top: 14px;
	}
	.modal-content_card_item_price-for-one{
		margin-right: 24px;
	}
	.modal-content_card_total-price{
		margin-top: 28px;
		float: right;
	}
	.modal-content_card_item{
		padding-bottom: 19px;
	}
	.card-description_one-click .modal, .reviews-list_top-block_input .modal{
		padding-top: 0;
	}
	.card-description_one-click .modal-content{
		padding: 20px;
	}
	.main-basket_product-item_total-price{
		margin-right: 3%;
		margin-left: 3%;
	}
	.catalog_find-options_colors {
	    display: block;
	    float: none;
	    margin-top: 30px;
	}
	.catalog_find-options_category_input-box label:nth-child(2) {
    	margin-right: 20%;
	}
}
@media screen and (max-width: 640px) {
	.services {
    	margin-top: 40px;
	}
	.header .top-header-block {
		display: none;
	}
	div.for_slaider_prev, div.for_slaider_next{
		display: none;
	}
	.bread-crumbs{
		margin-top: 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.071);
		padding-top: 27px;
	}
	.main-basket h1{
		margin-top: 8px;
		margin-bottom: 25px;
		font-size: 24px;
	}
	.main-basket_promocode_text-input{
		display: block;
		width: 280px;
	}
	.main-basket_promocode_button{
		width: 280px;
		margin-left: 0px;
		margin-top: 10px;
	}
	.main-basket_total-price{
		margin-right: 13px;
	}
	.main-basket_double-buton_left{
		display: block;
		width: 280px;
		margin: 0 auto;
	}
	.main-basket_double-right{
		display: block;
		width: 280px;
		float: none;
		margin: 20px auto 29px auto;
	}
	.main-basket .advantages ul{
		border: 4px solid rgb(231, 233, 238);
	}
	.basket-join_block{
		overflow: hidden;
	}
	.header .header-middle-block .header-middle-block__items a:nth-child(1), .header .header-middle-block .header-middle-block__items a:nth-child(2), .header-middle-block__phone-block{
		display: none;
	}
	.header-menu-button-hidden{
		display: block;
		position: absolute;
    	top: 47%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    z-index: 600;
	}
	.header .header-middle-block .header-middle-block__items{
		top: 48%;
	}
	.header-bottom-block{
		display: none;
	}
	.header-list-block ul li:nth-child(2),.header-list-block ul li:nth-child(3),.header-list-block ul li:nth-child(4),.header-list-block ul li:nth-child(5){
		display: none;
	}
	.header-list-block ul li:nth-child(6){
		display: inline-block;
		text-align: center;
	    text-align-last: center;
	    -moz-text-align-last: center;
	    -ms-text-align-last: center;
	    width: 48%;
	}
	.autumn-discounts span {
		font-size: 12px;
		font-weight: bold;
  		text-transform: uppercase;
	}
	.personal-area_table-block{
		overflow-x: scroll;
	}
	.autumn-discounts {
	    background-position: left;
	}
	.services .services_item-block p {
	    display: inline-block;
	    margin-top: 13px;
	    margin-left: 17px;
	}
	.services .services_item-block img {
		width: 59px;
		height: 59px;
    	display: inline-block;
    	vertical-align: middle;
	}
	.services ul li:nth-child(2) .services_item-block p {
   		margin-left: 15px;
	}
	.services .services_item-block p {
	    margin-top: 0px;
	    margin-left: 15px;
	}
	.services ul li {
		display: block;
	}
	.services .services_item-block{
		padding: 0px;
	}
	.services ul li{
		margin-bottom: 29px;
		margin-left: 8px;
	}
	.services ul li:first-child{
		margin-top: 12px;
	}
	.services ul li:last-child{
		margin-bottom: 20px;
	}
    .give-gifts{
    	height: 180px;
    	background-position: right;
    	background: url(../img/gifts-back640.png);
    	margin-top: 80px;
    	background-size: cover;
    }
    .items-for-all .items-for-all_block-1 span:first-child, .items-for-all .items-for-all_block-2 span:first-child, .items-for-all .items-for-all_block-3 span:first-child, .items-for-all .items-for-all_block-4 span:first-child{
    	padding-top: 35px;
    	margin-top: 20px;
    }
    .give-gifts .give-gifts_block {
	    float: none; 
	    position: static; 
	    overflow: hidden;
	    width: 220px;
	    margin: 0 auto;
	    -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	    padding: 33px 0;
	}
	.give-gifts .give-gifts_block span {
    	display: block;
    	margin-right: 0px;
    	margin-bottom: 16px;
	}	
	.our-instagram_gallery a img{
		width: 37.79%;
	}
	.our-instagram_gallery a:nth-child(3){
		display: none;
	}
	.our-instagram_gallery a {
    	margin-right: 6.5%;
    }
	.original-gifts .original-gifts_textblock h4 {
		font-size: 24px;
	}
	.original-gifts .original-gifts_textblock {
	    padding: 28px 10px 0px 19px;
	}
	.top-footer-block__left-text {
		font-size: 14px;
		text-align: left;
	}
	.top-footer-block .top-footer-block__form {
		text-align: center;
	}
	.footer .top-footer-block .subscribe-text-input {
		width: 280px;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.subscribe-button {
		width: 280px;
	}
	body{
		padding: 0 20px 0 20px;
	}
	.bottom-footer-block ul li:nth-child(2), .bottom-footer-block ul li:nth-child(3), .bottom-footer-block ul li:nth-child(4){
		display: none;
	}
	.bottom-footer-fifth-item_phone-block{
		display: none;
	}
	.li-tmp .bottom-footer-fifth-item{
		
	}
	.tmp {
		text-align-last: center;
    	-moz-text-align-last: center;
    	-ms-text-align-last: center;
    	text-align: center;
	}
	.li-tmp {
	    padding-top: 0px;
	}
	.footer-madeby-block p{
		display: block;
	}
	.footer-madeby-block{
		text-align: center;
	}
	.footer-madeby-block p:first-child {
		display: block;
		width: 100%;
	}
	.bottom-footer-fifth-item__made{
		float: none;
	}
	.bottom-footer-block__creater-text{
		border-bottom: 1px solid rgb(236, 236, 236);
		padding-bottom: 21px;
	}
	.bottom-footer-fifth-item__made a{
		padding-top: 15px;
	}
	.footer {
    	margin-bottom: 20px;
	}
	.header-middle-block__logo img{
		width: 128px;
		height: 44px;
	}
	.header-middle-block {
	    position: relative;
	    text-align: center;
	    border-bottom: 1px solid rgb(236, 236, 236);
	    overflow: hidden;
	    padding: 20px 0px 16px 0;
	}
	.header-middle-block__logo p {
		font-size: 6.68px;
	}
	.header-list-block {
		font-size: 14px;
		font-weight: bold;
  		text-transform: uppercase;
	    padding: 10px 0 9px 0;
	    border: none;
	}
	.autumn-discounts {
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.right-promo-block {
		padding-top: 20px;
	}
	.services ul {
	    padding: 0 10px 0 0px;
	}
	.our-instagram_gallery a:nth-child(2){
		margin-right: 0;
	}
	.services_wrapper{
		overflow: hidden;
	    max-width: 271px;
	    margin: 0 auto;
	}
	.header-list-block ul li:first-child{
		border-right: 1px solid rgb(235, 235, 235);
		width: 50%;
		text-align: left;
		text-align-last: left;
		padding: 6px 0;
	}
	.hidden-mobile-menu .header-menu-button{
		top: 38px;
		-webkit-transform: none;
    	-ms-transform: none;
   		transform: none;
	}
	.index-slaider-content_info-block{
		margin-left: 33px;
	}
	div.header-list-block .header-list-block_drop-menu ul li{
		display: block;
	}
	.autumn-discounts span{
		letter-spacing: 1px;
	}
	.header-list-block ul li a{
		cursor: pointer;
	}
	.header .header-middle-block .header-middle-block__logo img{
		width: 128px;
		height: 44px;
	}
	.popular-products h3{
		font-size: 24px;
		margin-top: 58px;
	}
	.popular-products .popular-products__item{
		margin-top: 26px;
	}
	.recommend-products h3{
		font-size: 24px;
		margin-top: 87px;
	}
	.recommend-products .recommend-products__item{
		margin-top: 26px;
	}
	.our-instagram h3 {
    	margin-top: 50px;
    	font-size: 24px;
    	margin-bottom: 9px;
	}
	.our-instagram_gallery{
		margin-top: 25px;
	}
	.reviews h3{
		font-size: 24px;
		margin-top: 54px;
		margin-bottom: 19px;
	}
	.footer .top-footer-block{
		padding: 29px 0 26px 0;
	}
	p.bottom-footer-block__logo-text{
		margin-top: 22px;
	}
	.header-list-block_drop-menu_first{
		left: 0;
		top: 43px;
	}
	.header-list-block_drop-menu_first .header-bottom-block__item_menu_block_polygon{
		right: auto;
		left: 60px;
	}
	.for-fixed-marg{
		display: none;
	}
	.main-basket .advantages .advantages_item-block img{
		width: auto;
		height: auto;
	}
	.main-basket_product-item-block{
		min-height: auto;
	}
	.main-basket .advantages .advantages_item-block .main-basket_advantages_img1{
		margin-right: 18px;
	}

	.main-basket .advantages ul li:first-child{
		margin-top: 29px;
	}
	.main-basket .advantages ul li{
		margin-top: 26px;
	}
	.main-basket .advantages .advantages_item-block .advantages_item-block_title{
		margin-bottom: 5px;
	}
	.send-info{
		margin-top: 40px;
	}
	.send-info h3{
		font-size: 24px;
	}
	.formalization_left-block_contact-info label{
		display: block;
		float: none;
		text-align: left;
		line-height: normal;
	}
	.formalization_left-block_contact-info input{
		margin-bottom: 25px;
		margin-top: 7px;
	}
	.formalization_left-block_contact-info input.formalization_left-block_contact-info_checkbox{
		margin-left: 0;
	}
	label.formalization_left-block_contact-info_checkbox_label{
		display: block;
		margin-left: 33px;
	}
	.formalization_left-block_contact-info input{
		width: 100%;
	}
	.formalization_left-block_radio span:last-child{
		display: block;
		margin-left: 0;
		margin-top: 14px;
	}
	.formalization_left-block_radio{
		margin-top: 30px;
	}
	.formalization_left-block_contact-info h2{
		font-size: 18px;
		margin-top: 36px;
	}
	.formalization_left-block_delivery_text-input-block{
		max-width: 100%;
		width: 100%;
	}
	.formalization_left-block_delivery-type{
		width: 100%;
	}
	input.formalization_left-block_delivery_checkbox {
	    height: 24px;
	    width: 24px;
	    background: #FFF;
	    margin: 0px;
	}
	.formalization_left-block_delivery_text{
		display: block;
		float: none;
		text-align: left;
		line-height: normal;
		margin-top: 45px;
	}
	.formalization_left-block_delivery-date, .formalization_left-block_delivery-time{
		margin-top: 7px;
	}
	.formalization_left-block_contact-info{
		width: 100%;
	}
	input.formalization_left-block_delivery_house{
		width: 80px;
	}
	input.formalization_left-block_delivery_corps{
		width: 80px;
	}
	.formalization_left-block_delivery_small-block{
		width: 80px;
		display: inline-block;
		vertical-align: top;
	}
	.formalization_left-block_delivery_small-block-corp{
		width: 80px;
		display: inline-block;
		vertical-align: top;
		margin-left: 56px;
	}
	.formalization_left-block_delivery-time{
		display: block;
		margin-left: 0;
		margin-bottom: 35px;
	}
	.formalization_left-block_delivery-date, .formalization_left-block_delivery-time{
		display: block;
		float: none;
	}
	textarea.formalization_left-block_delivery_comment{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.formalization_left-block_payment_wrapper{
		padding: 28px 0px 38px 0px;
	}
	textarea.formalization_left-block_delivery_comment{
		width: 100%;
	}
	.formalization_signin {
	    font-size: 15px;
	}
	.formalization h1{
		font-size: 24px;
	}
	.formalization-bread-crumbs{
		padding-top: 21px;
	}
	.formalization h1{
		margin-top: 17px;
		margin-bottom: 26px;
	}
	.formalized-bread-crumbs{
		padding-top: 47px;
	}
	.formalized h1{
		font-size: 24px;
		margin-top: 15px;
		margin-bottom: 26px;
	}
	.formalized p:last-child{
		margin-bottom: 50px;
	}
	.business-catalog_item{
		width: 278px;
		height: auto;
    	min-height: 390px;	}
	.business-catalog_item-hidden-block{
		width: 278px;
	}
	.business-catalog_item-img{
		margin-top: 27px;
	}
	.business-catalog_item-text p{
		margin-top: 10px;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(2n){
		margin-left: auto;
	}
	.business-catalog_wrapper .business-catalog_item{
		display: block;
		margin: 30px auto 0 auto;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(3n){
		margin-right: auto;
	}
	.business-catalog_wrapper .business-catalog_item:nth-child(4n){
		margin-right: auto;
	}
	.benefit_button {
    	margin-top: 23px;
	}
	.showroom input{
		width: 223px;
		margin: 31px auto 0 auto;
	}
	.benefit h2, .business-catalog h2, .business-advantages h2, .cooperation-conditions h2, .place-order h2, .whole-sale h2, .corporate-gifts h1{
		font-size: 20px;
	}
	.place-order_form h3, .place-order_call-manager h3, .place-order_for-self h3{
		font-size: 16px;
	}
	.place-order_form label{
		display: block;
		float: none;
		text-align: left;
		line-height: normal;
		margin-bottom: 8px;
	}
	.place-order_form input[type="text"]{
		width: 100%;
	}
	textarea.formalization_left-block_delivery_comment{
		/* width: 280px; */
		width: 100%;
		max-width: 100%;
		margin-top: 0px;
	}
	.place-order_form-wrapper{
		max-width: 100%;
		margin: 0 auto;
	}
	.showroom {
    	padding: 31px 25px 27px 25px;
	}
	.place-order_for-self h3{
		margin-top: 44px;
	}
	.whole-sale h2{
		margin-top: 57px;
	}
	.business-catalog_item-hidden-block{
		position: static;
		border-bottom: none;
		margin-left: -1px;
	}
	
	.footer-madeby-block{
		margin-top: 0;
	}
	.services_wrapper ul li:last-child{
		margin-bottom: 0;
	}
	.header-list-block ul li a{
		font-family: 'Ubuntu bold', sans-serif;
		font-size: 14px;
	}
	.slick-dotted.slick-slider{
		margin-bottom: 0;
	}
	.header-list-block_drop-menu .header-bottom-block__item_menu_block_polygon{
		right: 113px;
	}
	.news-recommend-products{
		margin-bottom: 60px;
	}
	.news-my-wishlist_watch-social .new-item_card-description_social{
		margin: 44px auto 0 auto;
	}
	.new-item_card-description_social{
		float: none;
		text-align: left;
	}
	.new-item_card-description_social .card-description_social-item{
		margin-left: 0;
		margin-right: 16px;
	}
	.new-item_card-description_social .card-description_social-item:nth-child(2n){
		margin-right: 0px;
	}
	.news-my-wishlist_watch-social{
		text-align: center;
	}
	.news-my-wishlist_watch-all, .new-item_card-description_social{
		width: 220px;
	}
	.personal-area_radio{
		margin-top: 14px;
	}
	.personal-area_radio span:last-child {
	    display: inline-block;
	    margin-left: 13;
	    margin-top: 0px;
	}
	.personal-area_left-block_inputs label{
		display: block;
		float: none;
		text-align: left;
		line-height: normal;
		margin-bottom: 8px;
	}
	.personal-area_left-block_inputs input{
		margin-bottom: 24px;
	}
	.personal-area_for-social{
		margin-left: 0px;
	}
	label.personal-area_left-block_checkbox-label{
		margin-left: 0;
		overflow: unset;
		margin-bottom: 31px;
		padding-top: 7px;
	}
	.personal-area_right-block{
		width: 100%;
	}
	.personal-area_right-block_wrapper table{
		overflow: scroll;
	}
	input.personal-area_save-btn{
		float: none;
		margin-bottom: 40px;
	}
	.personal-area_right-block_watch-all{
		float: left;
	}
	.my-wishlist_watch-social{
		overflow: hidden;
	}
	.card-description_left-slaider-for{
		display: none;
	}
	.card-description_left-slaider-block{
		display: block;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.card-description_right-info-block{
		display: block;	
		width: 100%;
		max-width: 250px;
		float: none;
		margin: 0 auto;
	}
	.card-description_colors-block{
		max-width: 199px;
	}	
	.card-description_select select, .card-description_input-block input, .card-description_wishlist, .card-description_one-click{
		max-width: 280px;
	}
	.card-description_left-slaider-main .slick-dots li button:before {
	    color: #cccccc;
	    opacity: 1;
	    font-size: 12px;
	}
	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #cc99ff;
	}
	.card-description_left-slaider-main .slick-dots li{
		margin: 0 1px;
	}
	span.card-description_availability{
		display: block;
	}
	.card-description_advantages-text{
		display: inline-block;
		margin-top: 0;
	}
	.card-description_advantages_item{
		display: block;
		max-width: 220px;
		margin: 0 auto 22px auto;
	}
	.card-description_advantages{
		text-align-last: left;
    	-moz-text-align-last: left;
    	-ms-text-align-last: left;
    	text-align: left;
	}
	.card-description_advantages .card-description_advantages_item:last-child .card-description_advantages-text{
		vertical-align: top;
	}
	.card-description_advantages_item:first-child{
		margin: 32px auto 22px auto;
	}
	.card-description_advantages_item:last-child{
		margin: 0 auto 32px auto;
	}
	.card-description_advantages_item-img {
	    text-align: center;
	    text-align-last: center;
	    -moz-text-align-last: center;
	    -ms-text-align-last: center;
	}
	.card_top-name h1{
		font-size: 24px;
	}
	.card-description_social{
		display: none;
		width: 100%;
		text-align: left;
	}
	.lk-card-description_social .card-description_social-item{
		    margin-right: 16px;
    		margin-left: 0px;
	}
	.hidden-card-description_social{
		display: block;
	}
	.card-description_advantages{
		padding: 0 15px;
	}
	.reviews-list_top-block h3{
		font-size: 24px;
	}
	.reviews-list_top-block_input input{
		display: block;
	}
	.reviews-list_top-block_input .card-description_star-reviews{
		display: block;
		margin-top: 20px;
	}
	.reviews-list_top-block_input .card-description-stars{
		margin-left: 0;
	}
	.clock-mitya{
		height: auto;
		background-size: cover;
    	background-position: 54%;
	}
	.clock-mitya_block p{
		padding-bottom: 30px;
	}
	.review-form-wrapper label, .review-modal_stars-cont span{
		display: none;
	}
	.review-form-wrapper-checkbox label{
		display: inline-block;
	}
	.review-form-wrapper input{
		width: 280px;
		display: block;
	}
	.review-form-wrapper textarea{
		width: 280px;
		display: block;
	}
	.review-form-wrapper input.modal-content_card_form_checkbox{
		display: none;
	}
	input.modal-review-send-btn{
		margin-left: 0;	
	}
	.modal-content_card_form-wrapper{
		max-width: 280px;
		margin: 0 auto;
	}
	.review-form-wrapper input.modal-content_card_form_checkbox{
		margin-left: 0;
	}
	.review-modal_stars-cont{
		margin-bottom: 20px;
	}
	.modal-content h4{
		font-size: 24px;
	}
	.reviews-list_top-block_input .modal-content{
		padding: 20px;
	}
	.reviews-list_top-block_input .close{
		top: 15px;
   	 	right: 25px;
	}
	.clock-mitya_block{
		margin-left: 30px;
		padding-right: 30px;
	}
	.clock-mitya_block h3{
		font-size: 24px;
	}
	.review-modal .modal-content h4{
    	margin-top: 42px;
	}
	.modal-content_card_form-block label{
		line-height: normal;
		width: auto;
		text-align: left;
		margin-left: 0;
	}
	input.modal-content_card_form_checkbox{
		margin-left: 0;
	}
	input.modal-content_card_form-send-btn{
		margin-right: 0;
		float: left;
	}
	.main-basket_product-item{
		height: auto;
	}
	.pseudo-element{
		display: none;
	}
	.main-basket_product-item_total-price{
		float: none;
		display: block;
		line-height: normal;
		text-align: right;
		margin-bottom: 25px;
		margin-right: 0;
	}
	.main-basket_product-item{
		padding: 33px 20px 0 20px;
	}
	.main-basket_product_middle-block{
		display: block;
		overflow: hidden;
	}
	.main-basket_product_middle-block{
		min-height: 54px;
		margin-top: 28px;
	}
	.main-basket_product-item .main-basket_product-item_description{
		max-width: 125px;
	}
	.main-basket_product-item .main-basket_product-item_img{
		margin-left: 0;
	}
	.main-basket_product-item .main-basket_product-item_img img{
		max-width: 99px;
    	max-height: 99px;
	}
	.main-basket_product-item .main-basket_product-item_img{
		height: 99px;
    	width: 99px;
    	max-width: 99px;
    	max-height: 99px;
	}
	.main-basket_product_close-cross {
	    top: 19px;
	    right: 17px;
	}
	.main-basket_product-item .main-basket_product-item_cost .main-basket_product-item_cost-old{
		display: inline-block;
		    margin-left: 12px;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		line-height: 39px;
	}
	.main-basket_advantages-img{
		width: 45px;
		height: 44px;
	}
	.main-basket .advantages ul li{
		display: block;
	}
	.main-basket .advantages_item-block_text{
		text-align: left;
		text-align-last: left;
		display: inline-block;
	}
	.main-basket_advantages-img{
		display: inline-block;
		margin-left: 0;
		vertical-align: top;
		margin-right: 18px;
		text-align-last: center;
	}
	.main-basket .advantages ul li{
		width: 240px;
		margin-left: auto;
    	margin-right: auto;
	}
	.main-basket .advantages ul li:first-child{
		margin-left: auto;
    	margin-right: auto;
	}
	.main-basket .advantages .advantages_item-block .advantages_item-block_title{
		margin-top: 0px;
	}
	.main-basket .advantages ul li:nth-child(3), .main-basket .advantages ul li:nth-child(4){
		margin-top: 26px;
	}
	.catalog-collections_item {
    	width: 44%;
    }
    .catalog-collections_item:nth-child(odd){
    	margin-right: 12%;
    }
    .catalog_find-options{
    	padding: 25px 25px 82px 25px;
    }
    .catalog_find-options_colors{
    	width: 100%;
    	margin-top: 60px;
    	float: none;
    }
    .catalog_find-options_colors-block{
    	display: block;
    	width: 100%;
    }
    .catalog_find-options_category{
    	float: none;
    	display: block;
    	margin-top: 38px;
    }
    .catalog_find-options_sort{
    	display: block;
    }
    .catalog_find-options_material{
    	display: block;
    }
    .catalog_find-options_category_input-box label{
    	display: block;
    }
    .catalog_find-options_category_input-box label:nth-child(2){
		    margin-left: 0;
    }	
    .catalog_find-options_sort_popular{
    	display: block;
    }
    .catalog_find-options_sort a{
    	
    }
    .catalog_find-options_material-input-box_item{
    	display: block;
    	width: 100%;
    }
    .catalog_find-options_material{
    	width: 100%;
    }
	.catalog_find-options_sort_price{
		float: none;
	}
	.catalog_find-options_price_inputs input{
		width: 90px;
	}
	.noUi-horizontal{
		width: 225px;
	}
	.catalog_find-options_price{
		width: auto;
	}
	.catalog_find-options_category{
		width: 100%;
	}
	.catalog_find-options_sort, .catalog_find-options_material {
    	margin-top: 38px;
	}
	.catalog_find-options_wrapper{
		width: 280px;
		margin: 0 auto;
	}
	.catalog h1{
		font-size: 24px;
	}
	.main-help h1, .main-help-item h1{
		font-size: 24px;
	}
	.main-help h1 {
		margin-top: 36px;
		margin-bottom: 28px;
		font-size: 24px;
	}

	.help-item {
		/* width: 280px; */
		width: 100%;
		margin-bottom: 20px;
	}
	.formalization_present-box .formalization_left-block_contact-info_checkbox_label, .formalization_sale-sign-up .formalization_left-block_contact-info_checkbox_label{
		margin-left: 0;
	}
	.main-basket_promocode{
		display: block;
		text-align: center;
	}
	.main-basket_promocode_text-input{
		margin: 0 auto;
	}
	.main-basket_promo-price{
		width: 280px;
		margin: 0 auto 40px auto;
	}
}


@media screen and (max-width: 480px) {
	.header-list-block_drop-menu .header-bottom-block__item_menu_block_polygon{
		right: 59px;
	}
	.main-basket_product-item .main-basket_product-item_cost{
		margin-left: 0;
	}
	.main-basket_product-item .main-basket_product-item_cost .main-basket_product-item_cost-old{
		margin-left: 5px;
	}
	.original-gifts .original-gifts_textblock p{
		padding-bottom: 27px;
	}
	.promo-right-bottom-block {
		width: 100%;
    	background-size: cover;
		display: block;
	    margin: 0 auto;
	    float: none;
	    min-width: 280px;
	    background-position: left;
	}
	.promo-right-top-block {
		width: 100%;
    	background-size: cover;
		display: block;
		margin: 0 auto;
	    float: none;
	    margin-bottom: 20px;
	    min-width: 280px;
	    background-position: left;
	}
		.main-page-wrapper .advantages ul li{
		display: block;
		margin-right: 0;
		margin-left: 0;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.advantages_item-block_text{
		display: inline-block;
		text-align: left;
	}
	.advantages .advantages_item-block .advantages_item-block_title{
		margin-top: 0;
		margin-bottom: 10px;
		text-align: left;
	}
	.advantages .advantages_item-block {
	    text-align: left;
	    text-align-last: left;
	}
	.advantages {
	    margin-top: 48px;
	}
	.main-page-wrapper .advantages ul li {
		padding-bottom: 0px;
		margin-top: 31px;
		min-width: 280px;
	}
	.advantages_item-img-block{
	    margin-right: 24px;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4 {
    	/* width: 280px; */
    	background-size: cover;
    	width: 100%;
	}
	.items-for-all .items-for-all_block-1, .items-for-all .items-for-all_block-2, .items-for-all .items-for-all_block-3, .items-for-all .items-for-all_block-4{
    	display: block;
    	margin: 0 auto;
    }
	.original-gifts {
	    width: 280px;
	    height: 763px;
	    background: url(../img/orig-gifts640.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    margin-top: 40px;
	    margin-bottom: 40px;
	    margin: 0 auto;
	    width: 100%;
	    background-size: cover;
	    height: auto;
	}
	.original-gifts{
		margin-top: 70px;
		margin-bottom: 27px;
	}
/* 	.services {
    	max-width: 280px;
    	margin: 46px auto 0;
    } */
	.promo-left-block-slaider .index-slaider-content{
		background-position: 31%;
	}
	.news-main_item{
		width: 100%;
		height: 390px;
		margin-right: 0;
		margin-top: 20px;
	}
	.news-main h1{
		font-size: 24px;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.news-item-main h1{
		font-size: 24px;
		margin-top: 7px;
		margin-bottom: 19px;
	}
	.personal-area_left-block{
		width: 100%;
	}
	.personal-area_left-block_inputs input{
		width: 100%;
	}
	input.personal-area_date-input{
		width: 185px;
	}
	.personal-area_left-block_inputs textarea{
		width: 100%;
		max-width: 100%;
	}
	.personal-area h1{
		font-size: 24px;
		margin-bottom: 23px;
	}
	.my-wishlist h2{
		font-size: 24px;
	}
	.my-wishlist {
    	margin-top: 49px;
	}
	.my-wishlist .my-wishlist__item{
		    margin-top: 24px;
	}
	.my-wishlist_watch-all{
		display: block;
		text-align: center;
	}
	.my-wishlist .card-description_social{
		float: none;
		text-align: left;
	}
	.lk-card-description_social .card-description_social-item{
		margin-left: 0;
		margin-right: 0;
	}
	.lk-card-description_social .card-description_social-item:nth-child(even){
		margin-left: 16px;
	}
	.my-wishlist_watch-social{
		text-align: center;
	}
	.lk-card-description_social{
		width: 220px;
	}
	.my-wishlist_watch-all{
		margin-bottom: 31px;
	}
	.my-wishlist_watch-social{
		padding-bottom: 8px;
		margin-top: 55px;
	}
	.card_top-name-block{
		text-align: justify;
		text-align-last: justify;
		-moz-text-align-last: justify;
    	-ms-text-align-last: justify;
	}
	.card_top-name-block .card_top-name_item:first-child, .card_top-name-block .card_top-name_item:last-child{
		float: none;
	}
	.card_top-name-block .card_top-name_item:last-child{
		margin-top: 10px;
	}
	.card_top-name h1{
		margin: 15px 0;
	}
	.modal-content_card_total-price-last span:first-child{
		text-align: left;
    	display: inline-block;
    	width: 140px;
	}
	.modal-content_card_total-price-last span:last-child{
		display: inline-block;
    	vertical-align: top;
	}
	.modal-content_card_total-price-last{
		text-align: center;
	}
	.main-basket .advantages ul li{
		padding-bottom: 0px;
		width: 240px;
		min-width: 240px;
	}
	.catalog-products_item{
		display: block;
		width: 280px;
		margin: 30px auto 0 auto;
	}
	.catalog-products_item:nth-child(2n){
		margin: 30px auto 0 auto;
	}
}
@media screen and (max-width: 320px) {
	.autumn-discounts {
		background: url(../img/back-discounts320.png);
	}
}
	